@font-face {
    font-family: heuristica;
    src: url(_static/Heuristica-Regular.otf) format('opentype');
}

@font-face {
    font-family: heuristica;
    src: url(_static/Heuristica-Bold.otf) format('opentype');
    font-weight: bold;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    font-family: heuristica;
}